.wrapper{
	width:100%;
	height:auto;
}
.basic-need-wrapper{
	width:1000px;
	margin:20px auto;
}
h5{
	margin-top:0px;
	margin-bottom:0px;
}
span.must-have{
	display:inline-block;
	width:10px;
	height:32px;
	line-height:32px;
	vertical-align:middle;
	text-align:center;
	color:red;
}
.need-name{
	font-size:15px;
	font-weight:bold;
}
h5.inline-h5{
	display:inline-block;
}
.basic-need-wrapper tr td{
	padding-top:15px;
	padding-bottom:15px;
}
input.num-input{
	width:60px;
	height:24px;
	font-size:14px;
	padding-left:6px;
	margin:0px 4px;
}
input.time-input,input.text-input{
	width:200px;
	height:24px;
	font-size:14px;
	padding-left:6px;
	margin:0px 4px;
}
textarea.other-need{
	width:300px;
	height:100px;
}
.btn-submit{
	width:100px;
	height:42px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	background-color:rgb(41,105,251);
	outline:none;
	border:none;
	font-size:16px;
	color:white;
	margin-left:100px;
}