<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="tab_nav">
    <ul>
        <li class=""><a href="javascript:void(0)"><i class="icon icon_1"></i></a>
            <div class="tab_plan none" style="display: none;">
                <h3>在线客服</h3>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=86688072&amp;site=qq&amp;menu=yes" title="点击咨询"><img border="0" src="http://huiwuyou.cn/static/images/icon/qq.png" style="vertical-align:middle"></a>
                <p>服务时间:<br>9:00-18:00</p>
            </div>
        </li>
        <li><a href="javascript:void(0)"><i class="icon icon_3"></i></a>
            <div class="tab_plan none" style="display: none;"><img src="http://www.huiwuyou.cn/themes/default/static/images/weixin.jpg" alt="官方微信自助客服" width="130" height="130">
                <p>扫一扫</p>
            </div>
        </li>
        <li><a href="javascript:void(0)"><i class="icon icon_4"></i></a>
            <div class="tab_plan none tab_plan_bt" style="display: none;"><p class="pink">4006-33-5958</p></div>
        </li>
    </ul>
    <a gotop="top" class="gotop" title="回到顶部"></a>
</div>
</body>
</html>